html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: url(spice2.jpg) no-repeat;
  background-size: cover;
  margin-top: 80px;
  overflow-x: hidden;
}

.slide {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  grid-template-rows: 220px 20px;
  grid-template-columns: 1fr 30px 30px 30px 1fr;
}
          /* ******************************** CABEÇALHO ******************************** */

header {
  background-color: brown;
  align-items: center;
  width: 100%;
  height: 40px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

          /* ******************************** LOGO ******************************** */

.logo {
  position: relative;
  left: 5px;
}

          /* ******************************** CAIXA DE TEXTO ******************************** */

.top-buscar {
  display: flex;
  align-items: center;
}

          /* ******************************** LUPA ******************************** */

.btn-lupa-top {
  background-color: transparent;
  width: 20px;
  height: 22px;
  border: 0;
  position: relative;
  left: 25px;
}

          /* ******************************** X ******************************** */

.btn-x-top {
  background: transparent;
  position: relative;
  right: 23px;
  top: 2px;
  margin: 0;
  padding: 0;
  border: 0;
}

          /* ******************************** TEXTO ******************************** */

.btn-texto {
  padding: 6px;
  width: 250px;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

          /* ******************************** FILTRO ******************************** */

.filtro{
  display: flex;
  align-items: center;
  color: white;
  background: transparent;
  width: 80px;
  height: 30px;
  font-family: verdana;
}
#continentes {
  display: none;
  top: 40px;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: darkred;
  border: 2px solid black;
  color: white;
  position: fixed;
  z-index: 1;
}
          /* ******************************** CLASS FILTRO ******************************** */
.class-filtro{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.class-filtro a{
  color: white;
  text-decoration: dotted;
}

          /* ******************************** BOLSA ******************************** */

.img- { 
  position: relative;
  left: 62%;

}

          /* ******************************** USER ******************************** */

.img-- {
  position: relative;
  left: 58%;
}

          /* ******************************** CARROSEL ******************************** */


main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

img.item {
  border-radius: 10px;
  position: absolute;
  width: 370px;
  height: 200px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.40s linear;
  transform: rotateY(calc(-5deg * var(--r))) translateX(calc(-450px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

img.item:nth-of-type(1) {
  --offset: 1;
}

img.item:nth-of-type(2) {
  --offset: 2;
}

img.item:nth-of-type(3) {
  --offset: 3;
}

          /* ******************************** BOTÃO DO CARROSEL ******************************** */

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
  --position: 3;
}

          /* ******************************** CONTEUDO EM BAIXO ******************************** */

.recomendados {
  position: relative;
  color: white;
  font-size: 22px;
  left: 25px;
}

.content {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div_recomendados{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img {
  border: 8px solid brown;
  margin-right: 20px;
}

.content p {
  color: white;
  font-size: 30px;
  margin-right: 20px;
}
