html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    height: 600px;
    display: flex;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background: url(spice.jpg) no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin-top: 80px;
    grid-template-rows: 220px 20px;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
   
}
header{
    background-color: brown;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.top-buscar{
    position: relative;
    top: 15px;
    left: 10px;
}
.btn-lupa-top{
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    width: 20px;
    height: 22px;
    border: 0;
    position: relative;
    top: -26px;
    left: 10px;

}
.btn-x-top{
   background: transparent;
   font-size:larger;
    position: relative;
    top: -30px;
    left: 275px;
    margin: 0;
    padding: 0;
    border: 0;
}
.btn-texto{
    background-color: white;
    width: 250px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 35px ;
    padding-right: 35px;
}
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  img.item {
    border-radius: 10px;
    position: absolute;
    width: 370px;
    height: 200px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.20s linear;
    transform: rotateY(calc(-20deg * var(--r)))
      translateX(calc(-200px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  img.item:nth-of-type(1) {
    --offset: 1;
  }
  img.item:nth-of-type(2) {
    --offset: 2;
  }
  img.item:nth-of-type(3) {
    --offset: 3;
  }
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }

  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
